.main-content__top {
  height: 630px;
  width: 100%;
  background-image: url("../assets/Wallpaper.png");
  background-size: 960px 550px;
  background-repeat: no-repeat;
  object-fit: contain;
  font-family: "Raleway";
}

.top__nav {
  margin-bottom: 2.2rem;
}

.nav__surge-logo {
  width: 12%;
  height: auto;
  margin: 0.5rem 1rem;
  cursor: pointer;
}

.top__drop-down-container {
  color: #fff;
  text-align: center;
}

.drop-down-container__heading {
  font-size: 37px;
  font-weight: 400;
  line-height: 80px;
}

.heading--bold {
  font-weight: 700;
}

.drop-down-container__prompt {
  width: 350px;
  height: 45px;
  line-height: 45px;
  margin: 0 auto;
  border-radius: 12px;
  background-color: #fff;
  color: #f07131;
  font-size: 15px;
  text-align: left;
  display: flex;
}

.prompt__text {
  margin-left: 15px;
  min-width: 310px;
}

.prompt__arrow-box {
  margin: auto 0;
  cursor: pointer;
}

.arrow-box__arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid #f07131;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.drop-down-container__options {
  width: 350px;
  height: 200px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 12px;
  margin-top: 20px;
  color: black;
  font-size: 15px;
  text-align: left;
  padding-top: 10px;
}

.hidden {
  display: none;
}

.options__option {
  cursor: pointer;
  padding-left: 15px;
  line-height: 45px;

}

.options__option:hover {
  background-color: #febc2e;
}

/* class name should be improved */
.drop-down-container__image-box {
}

.image-box__image {
  width: 600px;
  height: 400px;
  object-fit: contain;
  display: block;
  -webkit-filter: drop-shadow(0 0 2px #DCDCDC);
  filter: drop-shadow(0 0 2px #DCDCDC);
  margin: 0 auto;
}

